<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="../assets/images/Travel App or Website Logo.png" alt="">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Featuresss</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>

<section class="hero-section section-height">
  <h1>Travel that suits you
    <img src="../assets/images/wepik-export-20240116181247tVQv.png" alt="">

  </h1>

  <p>Search, book and arrange your flights with us
  </p>

</section>
<section class="search-form" >
  <div class="row g-3">
    <div class="col-sm">
      <input type="text" class="form-control" placeholder="Departure" aria-label="departure">
    </div>
    <div class="col-sm">
      <input type="text" class="form-control" placeholder="Destination" aria-label="destination">
    </div>
    <div class="col-sm">
      <input type="text" class="form-control" placeholder="Departure Date"
      onfocus="(this.type='date')">     </div>
    <div class="col-sm">
      <input type="text" class="form-control" placeholder="Add Return"
      onfocus="(this.type='date')">    
    </div>
    
    <div class="col-sm">
      <input type="text" class="form-control" placeholder="No. of passenger" aria-label="passenger">
    </div>
    <div class="col-sm">
      <input type="submit" class="form-control" id="search-btn" value="Search" aria-label="passenger">
    </div>
  </div>
</section>
<section class="app-promo section-height">
  <div class="img-sec">
<img src="../assets/images/Travel App or Website Logo.png" alt="">

  </div>
  <div>
    <div>    
      <h1>Download our free app now</h1>
      <p>One app for every step of your journey—travel planning has never been easier!    </p>
  </div>
  <div>
    <p>iconlist</p>
  </div>
  <div id="app-button">
    <a href="#"><img src="../assets/images/ios-button.png" alt=""></a>
    <a href="#"><img src="../assets/images/andriod-btn.png" alt=""></a>
  </div>
  </div>
</section>
<section class="travel-opt section-height">
<div>
  <h1>Travelling has never been this affordable and available  </h1>
  <p>Our multiple partners helps to provide a range of oprions for your travel needs</p>
  <button class="primary-btn">Get started  </button>
</div>
<div>
<img src="../assets/images/.png" alt="">
</div>
</section>
<section class="compare-sec section-height">
<div>
  <img src="../assets/images/qr code.png" alt="">
  <h2>Compare cheap flights</h2>
  <p>With us, you can compare airline tickets with various airlines with utmost ease.  </p>
</div>
<div>
  <img src="../assets/images/qr code.png" alt="">
  <h2>Find cheap tickets with ease
  </h2>
  <p>Search and book cheap fligh. Arrange your trips with us and discover the best tickets for you.
  </p>
</div>
<div>
  <img src="../assets/images/qr code.png" alt="">
  <h2>Timetables and tickets for all your travels needs  </h2>
  <p>It’s never been easier to book an airplane ticket before.

  </p>
</div>
  
  </section>
  <section class="subscribe-sec section-height">
    <div>
      <p>THE WORLD OF TRAVELLING</p>
      <h1>Sign up to receive exclusive discounts and updates straight to your inbox?</h1>
      <div class="row g-3">
        <div class="col-sm-5">
          <input type="text" class="form-control" placeholder="Your email" aria-label="email">
        </div>
        <div class="col-sm-3">
          <input type="submit" class="form-control primary-btn" id="search-btn" value="Sign me up" aria-label="passenger">
        </div>
      </div>
    </div>
    <div>
   
    </div>

  </section>
