<!-- Login Form -->
<div *ngIf="!showRegistrationForm">
    <h2>Login</h2>
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="loginEmail" required>
  
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="loginPassword" required>
  
      <button type="submit" [disabled]="!loginForm.valid">Login</button>
      <p (click)="showRegistrationForm = true">Not registered? <a routerLink="/register">Click here to register</a>.</p>
    </form>
  </div>
  
  <!-- Registration Form -->
  <div *ngIf="showRegistrationForm">
    <h2>Registration</h2>
    <form (ngSubmit)="register()" #registrationForm="ngForm">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" [(ngModel)]="registerName" required>
  
      <label for="surname">Surname:</label>
      <input type="text" id="surname" name="surname" [(ngModel)]="registerSurname" required>
  
      <label for="dob">Date of Birth:</label>
      <input type="date" id="dob" name="dob" [(ngModel)]="registerDOB" required>
  
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="registerEmail" required>
  
      <label>
        <input type="checkbox" [(ngModel)]="agreeToTerms" required>
        I agree to the terms and conditions
      </label>
  
      <button type="submit" [disabled]="!registrationForm.valid">Register</button>
      <p (click)="showRegistrationForm = false">Already registered? Click here to login.</p>
    </form>
  </div>
  