/* ul li a {
    font-size: 17px;
    font-weight: 600;
    color: green;
}
ul li a:hover{
     color: skyblue;
} */
.btn-primary{
  background-color: rgb(72, 72, 72);
  border: none;

}
.btn-primary:hover{
  background-color: rgb(37, 37, 37);
  border: none;
}
.Fly8{
    color: aliceblue;
}
.Fly8:hover{
    color: skyblue;
}
body {
    background-image: url('/assets/background.png');
    background-size: cover; /* This ensures the image covers the entire body */
    /* background-repeat: no-repeat; Prevent the image from repeating */
    background-position: center;
    background-repeat: no-repeat;
  }
  html, body {
    height: 100%;
  }
  .book{
    font-size: 17px;
    font-weight: 600;
    color: aliceblue;
  }
  .book:hover{
    color: skyblue;
  }
  .lkm{
    width: 100%;
    margin-top: 40px;
  }
  .navbar-toggler{
    background-color: aliceblue;
  }